
extends includes/layout.pug

block content
  - var categoriesList = list_categories({ show_count: false })
  - var tagsList = list_tags({ show_count: false })
  - var archivesList = list_archives({ show_count: false })

  div.archive
    if !is_year()
      //- h1.First-title-of-archives Archives
      ul.timeline.timeline-centered
        if archivesList
          - var year
          - page.posts.each(function(article, index){
            - var tempYear = date(article.date, 'YYYY')
            if tempYear !== year
              - year = tempYear
              h2.period
                - var urlofTime = '/archives/'+ year
                a(href=url_for(urlofTime))!= year
            .timeline-item
              .timeline-info
                time.post-time(datetime=date_xml(article.date))= full_date(article.date,'MMMM Do YYYY')
              .timeline-content
                .post-content
                  h3.timeline-title
                    a(href=url_for(article.path))!= article.title == "" ? "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp" : article.title
                  if article.description
                    p!= article.description
                  else
                    p!= article.excerpt
          - })
          //- include includes/pagination.pug
        else
          p None.
      br
    else if !is_month()
      ul.timeline.timeline-centered
        if archivesList
          h2.period!= page.year
          - var year
          - page.posts.each(function(article, index){
            - var tempYear = date(article.date, 'MM')
            if tempYear !== year
              - year = tempYear
              h2.period
                - var urlOfMon = '/archives/' + page.year + '/' + year
                a(href=url_for(urlOfMon))!= year
            .timeline-item
              .timeline-info
                time.post-time(datetime=date_xml(article.date))= full_date(article.date,'MMMM Do, dddd')
              .timeline-content
                .post-content
                  h3.timeline-title
                    a(href=url_for(article.path))!= article.title
                  if article.description
                    p!= article.description
                  else
                    p!= article.excerpt
          - })
          //- include includes/pagination.pug
        else
          p None.
      br
    else
      ul.timeline.timeline-centered
        if archivesList
          - var year
          - page.posts.each(function(article, index){
            - var tempYear = date(article.date, 'YYYY MMMM')
            if tempYear !== year
              - year = tempYear
              h2.period!= year
            .timeline-item
              .timeline-info
                time.post-time(datetime=date_xml(article.date))= full_date(article.date,'Do, dddd')
              .timeline-content
                .post-content
                  h3.timeline-title
                    a(href=url_for(article.path))!= article.title
                  if article.description
                    p!= article.description
                  else
                    p!= article.excerpt
          - })
          //- include includes/pagination.pug
        else
          p None.
      br
    include includes/pagination.pug
    include includes/locate-button.pug
