extends includes/layout.pug

block content
  article#page
    //- h1= page.title
    //- != page.content
  if page.title === 'tags'
    #category
      - var categoriesList = list_categories({ show_count: theme.tagsPage.category.show_count })
      - var tagsList = list_tags({ show_count: theme.tagsPage.tag.show_count })
      #categories
        h1!= __("category.categories")
        if categoriesList
          != list_categories({show_count: theme.tagsPage.category.show_count, style: span, depth: 1})
        else
          p None.
      br
      #tags
        h1!= __("category.tags")
        if tagsList
          != tagsList
        else
          p None.
      br
  if page.title === 'links'
    if page.links
      .links
        each group, index in page.links
          h2.link-title!= group.group_name
          .group-description!= group.description
          if group.items
            ul.group-items.clearfix
              each item in group.items
                  li.item-friend(title=item.description)
                    a.item-friend-links(href=item.url)
                      img.site-preview(src=item.img, alt=item.name,,onerror="this.src='img/pic_load_fail.png'")
                      .site-name!= item.name
                      .site-description!= item.description
        include includes/comment.pug
        include includes/locate-button.pug
  if page.title === 'art'
    .test-bttns(style="margin-top: 500px")
      button#test-info INFO 
      button#test-error ERROR 
      button#test-success SUCCESS 
      button#test-warning WARNING
  #paginator!= paginator()
