extends includes/layout.pug

block content
  if page.title === 'tags'
    #category
      - var categoriesList = list_categories({ show_count: false })
      - var tagsList = list_tags({ show_count: false })
      #categories
        h1 Categories
        if categoriesList
          != list_categories({show_count: false, style: span, depth: 1})
        else
          p None.
      br
      #tags
        h1 Tags
        if tagsList
          != tagsList
        else
          p None.
      br
  if page.title === 'links'
    if page.links
      .links
        h2!= theme.friendPageNotice
        ol.rules
          each rule in theme.exchangeUrlRules
            li!= rule
        h3!= "The followings are my site imformation: "
        ul.mylink
          li!= "Site URL: " + theme.siteUrl
          li!= "Site Name: " + theme.siteName
          li!= "Avatar(URL): " + theme.Avatar
          li!= "Site Description: " + theme.siteDescription
        each group, index in page.links
          h2.link-title!= group.group_name
          .group-description!= group.description
          if group.items
            ul.group-items.clearfix
              each item in group.items
                  li.item-friend(title=item.description)
                    a.item-friend-links(href=item.url)
                      img.site-preview(src=item.img, alt=item.name)
                      .site-name!= item.name
                      .site-description!= item.description
        include includes/comment.pug
  else if page.title === "project"
    if page.projects
      .projects
        .projects-header
          h1!= "Study Projects"
        ul
          li
            i.fa.fa-circle
            span!= "All projects in this page is not original"
          li
            i.fa.fa-circle
            span!= "But all projects are written by blogger"
          li
            i.fa.fa-circle
            span!= "Click the title to jumpt to the certain original link"
        .projects-container-outer
          .project-container
            each item, index in page.projects
              .box(onclick="javascript:window.location.href='#{item.origin}''")
                .content
                  h2!= ("000" + String(index)).substr(-2)
                  a.title(href=item.origin ,target="_blank")!= item.title
                  p!= item.description
                  a.readmore(href=item.url)!= "Preview"
        .comment
          include includes/comment.pug
  else if page.title === "about"
    .aboutMePage
      center
        img.aboutMeAvatar(src=theme.avatar)
      h1!= "Who I'm I?"
      p.seff-introduction-formal!= theme.selfIntroductionFormal
      ul.location
        li
          i.fas.fa-map-marker-alt
          span.aboutWords!= theme.Location
        li
          i.fas.fa-arrow-circle-right
          span.aboutWords!= theme.Position
      h2!= "My Experiences"
      ul.myProjects
        each project in theme.Projects
          li.project
            i.fas.fa-circle-notch
            span.projectWords!= project
      h2!= "My GitHub Contributions"
      - var GitHubName = theme.GitHubUserName
      - var charUrl = ' "https://ghchart.rshah.org/' + GitHubName + '" ';
      //- img.github-contribution(src="https://ghchart.rshah.org/DyingDown")
      include includes/third-party/calendar.html
      h2!= "My abbilities"
      ul.myAbilities
        each ability in theme.Abilities
          li
            i.fas.fa-leaf
            span.abilityWords!= ability
      include includes/comment.pug
  else if page.title == "top"
    div#post-rank
    h1!= "sss"
    h1!= "sss"
    h1!= "sss"
  else if page.title === "novel"
    .novel
      .left-intro
        h2!= "阅读指南"
        ul
          li!= "点击书的封皮，打开对应的书"
          li!= "← →键翻页"
          li!= "可以手动拖拽翻页"
        h2!= "说明"
        div!= "作者：o_oyao"
        div!= "本页所有书目均为博主原创，书中内容并不代表作者任何立场。"
        div!= "图片及封面来源：网络"
        div!= "书的封面和书中图片均来自网络并加以制作而成，如有侵权，请联系我"
        div
          span!="引用库：本项目引用"
          a(href="http://www.turnjs.com/?tdsourcetag=s_pctim_aiomsg#")!= "turn.js"
          span!= "库"
        h3!="文笔幼稚请不要嘲笑"
      .right-bookshell
        .first-shell
          a.book-lost(href="/books/samples/Lost/index.html")
            img.cover(src="/img/cover-lost.jpg")
          a.book-sick(href="/books/samples/Sick/index.html")
            img.cover(src="/img/cover-sick.jpg")
          a.book-lost(href="/books/samples/Singer/index.html")
            img.cover(src="/img/cover-singer.jpg")
        .second-shell
          a.book-lost(href="/books/samples/old-man/index.html")
            img.cover(src="/img/cover-oldman.jpg")
    include includes/comment.pug
      //- a(href="/books/samples/Lost/index.html")!= "book1"
    //- each article in page.links.sort('date', -1).limit(24).toArray()
        //- h1!= article.title
    //- .tag-cloud
    //-   .tag-cloud__title= page.title  
    //-     |  - 
    //-     span.tag-cloud__amount= site.tags.length
    //-   .tag-cloud-tags!= tagcloud({min_font: 12, max_font: 30, amount: 200, color: true, start_color: '#A4D8FA', end_color: '#0790E8'})
  //- else if page.type === 'categories'
  //-   .category-lists
  //-     .category__title= page.title  
  //-       |  - 
  //-       span.category__amount= site.categories.length
  //-     div!= list_categories()
  //- else
  //-   article#page
  //-     h1= page.title
  //-     != page.content
  //-   include includes/pagination.pug

    