extends includes/layout.pug

block content
  article#page
    //- h1= page.title
    //- != page.content
  if page.title === 'tags'
    #category
      - var categoriesList = list_categories({ show_count: theme.tagsPage.category.show_count })
      - var tagsList = list_tags({ show_count: theme.tagsPage.tag.show_count })
      #categories
        h1!= __("category.categories")
        if categoriesList
          != list_categories({show_count: theme.tagsPage.category.show_count, style: span, depth: 1})
        else
          p None.
      br
      #tags
        h1!= __("category.tags")
        if site.tags.length
          // 检查是否启用字母索引功能
          if theme.tagsPage.tag.alphabet_index
            // 字母索引模式
            .alphabet-nav
              - var alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ#'.split('')
              each letter in alphabet
                a.alphabet-link(href=`#letter-${letter}` data-letter=letter)= letter
            
            // 标签搜索框
            .tag-search-container
              input#tag-search.tag-search-input(type="text" placeholder=__("tagSearch.placeholder"))
              i.fa.fa-search.search-icon
            
            // 按字母分组的标签
            .tags-by-alphabet
              - var tagsByLetter = {}
              - site.tags.each(function(tag) {
              -   var firstLetter = tag.name.charAt(0).toUpperCase()
              -   if (!/[A-Z]/.test(firstLetter)) firstLetter = '#'
              -   if (!tagsByLetter[firstLetter]) tagsByLetter[firstLetter] = []
              -   tagsByLetter[firstLetter].push(tag)
              - })
              
              each letter in alphabet
                if tagsByLetter[letter]
                  .letter-group
                    h2.letter-header(id=`letter-${letter}`)= letter
                    .tags-container
                      each tag in tagsByLetter[letter]
                        .tag-item(data-tag-name=tag.name.toLowerCase())
                          a.tag-link(href=url_for(tag.path))
                            span.tag-name= tag.name
                            if theme.tagsPage.tag.show_count
                              span.tag-count= tag.posts.length
          else
            // 传统标签云模式
            .traditional-tags
              != tagsList
        else
          p None.
      br
  if page.title === 'links'
    if page.links
      .links
        each group, index in page.links
          h2.link-title!= group.group_name
          .group-description!= group.description
          if group.items
            ul.group-items.clearfix
              each item in group.items
                  li.item-friend(title=item.description)
                    a.item-friend-links(href=item.url)
                      img.site-preview(src=item.img, alt=item.name,,onerror="this.src='img/pic_load_fail.png'")
                      .site-name!= item.name
                      .site-description!= item.description
        include includes/comment.pug
        include includes/locate-button.pug
  if page.title === 'art'
    .test-bttns(style="margin-top: 500px")
      button#test-info INFO 
      button#test-error ERROR 
      button#test-success SUCCESS 
      button#test-warning WARNING
  #paginator!= paginator()
