extends includes/layout.pug

block content
  article#page
    h1= page.title
    != page.content
  if page.title === 'links'
    if page.links
      .links
        //- h2!= theme.friendPageNotice
        //- ol.rules
        //-   each rule in theme.exchangeUrlRules
        //-     li!= rule
        //- h3!= "The followings are my site imformation: "
        //- ul.mylink
        //-   li!= "Site URL: " + theme.siteUrl
        //-   li!= "Site Name: " + theme.siteName
        //-   li!= "Avatar(URL): " + theme.Avatar
        //-   li!= "Site Description: " + theme.siteDescription
        each group, index in page.links
          h2.link-title!= group.group_name
          .group-description!= group.description
          if group.items
            ul.group-items.clearfix
              each item in group.items
                  li.item-friend(title=item.description)
                    a.item-friend-links(href=item.url)
                      img.site-preview(src=item.img, alt=item.name)
                      .site-name!= item.name
                      .site-description!= item.description
        include includes/comment.pug
  #paginator!= paginator()
