extends includes/layout.pug

block content
  #post-outer
    #share-col
      #shareButtons
        if theme.Share.on
          #shareButtonsInner
            span.social-share(data-sites=theme.Share.datasites)
    #mid-col
      #post
        #titles
          span.ribbon
            span.ri!= __("origin")
          #first-line
            h1!= page.title == "" ? "&nbsp" : page.title
            .date
              span.post-title-icons
                i.fa.fa-calendar
              time.words(datetime=date_xml(page.date))= date(page.date)
          #post-information
            if page.categories.data.length
              a.category-post
                span.post-title-icons
                  i.fa.fa-book
                each category, index in page.categories.data
                    span.words(href=url_for(category.path)) #{category.name}
            if page.tags.data.length
              a.post-tag
                span.post-title-icons
                  i.fa.fa-tag
                each tag, index in page.tags.data
                    span.words(href=url_for(tag.path)) #{tag.name}  
            if theme.wordCount != undefined && theme.wordCount
              span.post-title-icons  
                i.fa.fa-clock
              if min2read(page.content) !== "1"
                span.words!= min2read(page.content) + " mins"
              else
                span.words!= min2read(page.content) + " min"
              span.post-title-icons
                i.fa.fa-file-alt
              span.words!= wordcount(page.content) + " words"
            
        
        #post-content
          - if (theme.mathjax.enable && (theme.mathjax.per_page || page.mathjax))
            include third-party/mathjax.pug
          - let notes = theme.Warning.Content.split('{}');
          - let diffDays = moment(new Date()).diff(moment(page.date), 'day');
            if (page.warning || theme.Warning.on) && diffDays > theme.Warning.Days
              .date-warning
                span!= notes[0]
                strong!= diffDays
                span!= notes[1]
            != page.content
          include includes/copyright.pug
                  
      include includes/pagination.pug
      include includes/comment.pug
      include includes/locate-button.pug
    #toc-col
      include includes/side-user.pug
      include includes/toc.pug 
  script.
    var desc = "#{page.excerpt}";
    var $config = {
        description         : desc,
        wechatQrcodeTitle   : "#{theme.Share.wechatQrcodeTitle}", // 微信二维码提示文字
        wechatQrcodeHelper  : '<p>微信里点“发现”，扫一下</p><p>二维码便可将本文分享至朋友圈。</p>',
    };
    //- socialShare('.social-share', $config);