#bottom-outer
    #bottom-inner
        each media, index in theme.contacts
            //- social icons that display in the bottoms
            #incons
                -
                    let url_icon = media.split("||");
                    var url = url_icon[0];
                    var icon = url_icon[1];
                - var ico = '<i class="' + icon + '"></i>'
                a(href=url title=index).icon!= ico
        #author
            a#theme_name(href="https://github.com/DyingDown/hexo-theme-last")!= "Last"
            span= " made with "
            span#heart ❤️
            span= " by "
            a#theme_author(href='http://dyingdown.github.io')= "o_oyao"
            br
            span= '©' + config.author + ' ' + theme.since + '-' + date(new Date(), 'YYYY')
        br