//- link(rel='stylesheet', href= "/css/layout/footer.css")
link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css")
link(rel='stylesheet', href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
//- link(rel="stylesheet" href="../../source/font-awesome/css/all.min.css")

#bottom-outer
    #bottom-inner
        //- if theme.stylesheets !== undefined && theme.stylesheets.length > 0
        //-     != 1
            //- //- stylesheets list from _config.yml
            //- each url in theme.stylesheets
            //-     link(rel='stylesheet', href=url)
        //- if theme.contacts !== undefined && theme.contacts.length > 0
        //-     != "sss"
        each media, index in theme.contacts
            #incons
                -
                    let url_icon = media.split("||");
                    var url = url_icon[0];
                    var icon = url_icon[1];
                - var ico = '<i class="' + icon + '"></i>'
                a(href=url title=index).icon!= ico
        #author
            a#theme_name(href="https://github.com/DyingDown/hexo-theme-last")!= "Last"
            span= " made with "
            span#heart ❤️
            span= " by "
            a#theme_author(href='http://dyingdown.github.io')=config.author
            br
            //- script(type="text/javascript").
            //- - var date = new Date()
            span= '©' + config.author + ' ' + theme.since + '-' + date(new Date(), 'YYYY')
        br
        script(async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js")
        if theme.visits.on === true
            span#busuanzi_container_site_pv
                - var user = '<i class="fa fa-user"></i>'
                - var eye = '<i class="fa fa-fw fa-eye"></i>'
                - var total_visits = '<span id="busuanzi_value_site_uv"></span>'
                - var total_reads = '<span id="busuanzi_value_page_pv"></spsan>'
                .visits!= user + ' ' + total_visits + ' ' + ' | ' + eye + ' ' + total_reads
    //- a(href=config.root) Home