//- link(rel='stylesheet' href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css")
//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
//- link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css")
//- link(rel="stylesheet" href="../../source/font-awesome/css/all.min.css")
#phoneButton
    //- i.fa.fa-list
    <input type="checkbox" id="burger-toggle">
    <label for="burger-toggle" class="burger-menu" onclick="ShowMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
#top
    img.avatar(src="https://s1.ax1x.com/2020/04/15/JCX4JK.jpg", alt="")
    a#user(href="/")= config.author
    ul#menus
        each label, index in theme.menu
            li.menu-item
                a.menu(href=url_for(label.path))
                    - var icon_top = '<i class="fas fa-' + label.ico + '"></i>'
                    .icon_top!= icon_top + " " +  index
                if label.submenu
                    //- input.sub(type='checkbox')
                    ul.submenu
                        each sublabel, subindex in label.submenu
                            li.submenu-item
                                a.sublabel(href=url_for(sublabel.path))
                                    - var subicon = '<i class="fa fa-' + sublabel.ico + '"></i>'
                                    if sublabel.ico === "pencil-alt"
                                        - var subicon = '<i class="fas fa-' + sublabel.ico + '"></i>'
                                    .subicon!= subicon + ' ' + subindex
    //- label#manu_button(for='menus')
    //- a#menu_button!= '<i class="fa fa-bars"></i>'
    #buttons
        include search.pug
    //-     if theme.search.on === true
    //-         .search-box
    //-             input#local-search-input(tpye="text" placeholder="Type to search")
    //-             a.search-btn
    //-                 i.fa.fa-search(onclick="openSearch()")
    //- //- #menu_button!= '<i class="fa fa-bars"></i>'