//- include icons
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'
//- != pageTitle

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title= pageTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from _config.yml
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    if(is_post())
      link(rel='stylesheet', href= "/css/layout/pagination-post.css")
      link(rel='stylesheet', href= "/css/layout/footer-post.css")
      link(rel='stylesheet', href= "/css/layout/layout-post.css")
      link(rel='stylesheet', href= "/css/post.css")
    else
      link(rel='stylesheet', href= "/css/layout/pagination.css")
      link(rel='stylesheet', href= "/css/layout/footer.css")
      link(rel='stylesheet', href= "/css/layout/lay.css")
      link(rel='stylesheet', href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
      link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css")
      //- link(rel="stylesheet" href="../../source/font-awesome/css/all.min.css")


  body
    #menu-outer
      //- include menu-side.pugn
      include header.pug
    #content-outer
      #content-inner
        if body
          div!= body
        else
          block content
    include footer.pug
    include third-party/mathjax.pug
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url)
    if(is_post())
      script(src="/js/toc.js")
    //- script(src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")