div#postLicense
    .postTitle
        span!= "Post Title: "
        a(href=url_for(page.path))!= page.title
    .author
        span!= "Author: "
        - var author = ""
        if(page.author != undefined)
            - author = page.author
        else if(config.author != undefined)
            - author = config.author
        span!= author
    .releaseTime
        span!= "Release Time: "
        span!= page.date.format('MMMM Do YYYY - HH:mm')
    .lastUpdateTime
        span!= "Last Update Time: "
        span!= page.updated.format('MMMM Do YYYY - HH:mm')
    .originURL
        span!= "Original URL: "
        a(href=url_for(page.path) title=page.title)!= page.permalink
        button(class="btn" data-clipboard-target="#postLicense" data-clipboard-action="cut" title="Click to copy link of article")
            i.fa.fa-clipboard
    .License
        span!= "License: "
        i.fa.fa-creative-commons
        a(rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" title="中国大陆 (CC BY-NC-SA 3.0 CN)")!= "署名-非商用-相同方式共享 3.0"
        span!= "转载请保留原文链接及作者。"
    //- <p id="bar">无敌大帅哥</p>
    //- <button class="btn" data-clipboard-target="#bar" > 复制 </button>
    <script src="/js/third-party/clipboard.min.js"></script>
    script.
        new ClipboardJS('.btn');
    style(type="text/css").
        .originURL:hover .btn::after {
            content: "复制"
        }
        .originURL .btn:hover {
            color: gray;
            cursor: pointer;
        };