//- link(rel='stylesheet', href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css")
//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

aside#menu-top
    a#user(href="/")= config.author
    input#topmenu(type='checkbox')
    //- aside
        //- #overlay
        //- #side-content
        //- img#avatar(src="/img/avatar.png", alt="avatar")

    #menu-item
        nobr#menus
            each label, index in theme.menu
                .label
                    a.menu(href=url_for(label.path))
                        - var icon_top = '<i class="fa fa-' + label.ico + '"></i>'
                        .icon_top!= icon_top + " " +  index
                            //- != index
                    if label.submenu
                        input.sub(type='checkbox')
                        aside.submenu
                            each sublabel, subindex in label.submenu
                                //- li
                                a.sublabel(href=url_for(label.submenu.path))
                                    - var subicon = '<i class="fa fa-' + sublabel.ico + '"></i>'
                                    .subicon!= subicon + ' ' + subindex
                                    br
                                    //- != subindex
                        label.menu(for='submenu')
                //- br
        #button
            label#manu_button(for='menus')
                != '<i class="fa fa-bars"></i>'
            a#search!= '<i class="fa fa-search"></i>'
    //- h1 sss