
#home-cover
  if theme.carousel != undefined && theme.carousel.on
    //- outer container of carousel
    - var carouselPosts = 0
    for post in site.posts.data
      if post.isCarousel != undefined && post.isCarousel && post.postImage != undefined && post.postImage
        - carouselPosts += 1
    if carouselPosts
      .carousel-container
        //- put post list
        ul.postList
          //- each post in carouselPosts
          for post in site.posts.data
            if post.isCarousel != undefined && post.isCarousel && post.postImage != undefined && post.postImage
              li.postCarousel(style="background-image:url(" + post.postImage + ")")
                if theme.carousel.blur.on
                  div.blur(style="background-image:url(" + post.postImage + ")")
                if theme.carousel.mask.on
                  div.shadowBox
                .carouselContent
                  h2!= post.title
                  p.carouselText
                    != post.description || post.excerpt
                  br
                  br
                  a(href= url_for(post.path)).readMore!= __("readmore")
        //- previous next arrow
        if theme.carousel.prevNext
          i.fa.fa-chevron-left
          i.fa.fa-chevron-right
        //- nav button
        if theme.carousel.indicators.on
          .navDots
            for post in site.posts.data
              if post.isCarousel != undefined && post.isCarousel && post.postImage != undefined && post.postImage
                a.navDot(href="javascript:;")= ""
      
#recent-post-content
  if page.posts.length > 0
    #recent-posts
      each post in page.posts.sort('date', -1).limit(24).toArray()
        .recent-post-item
          if post.categories.data.length == 0
            span.category &nbsp;
          each category, index in post.categories.data
            if index === 0                
              span.category #{category.name}
              break
          a(href=url_for(post.path))
            .box-cover
              if post.postImage
                img.cover(src=post.postImage,onerror="this.src='img/pic_load_fail.png'",  alt="cover")
              else
                img.cover(src=theme.PostDefaultImage ,onerror="this.src='img/pic_load_fail.png'", alt="Default cover")
          .content-tags
            if post.date
              time.time(datetime=date_xml(post.date))= full_date(post.date,'MMMM Do YYYY')
              br
            a.post_title(href=url_for(post.path))= post.title
            br
            a.content(href=url_for(post.path))
              if post.description
                p.content!= post.description
              else if post.excerpt
                p.content!= post.excerpt
              else
                p.content
                  != "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
            each tag, index in post.tags.data
              a.recent-post-tag(href=url_for(tag.path))= tag.name