link(rel='stylesheet', href= "/css/layout/recent-posts.css")
//- -
//-   var month = {
//-     "Jan": "January"
//-     "Feb": "Feburary"
//-     "Mar": "March"
//-     "Apr": "April"
//-     "May": "May"
//-     "Jun": "June"
//-     "Jul": "July"
//-     "Aug": "August"
//-     "Sept": "September"
//-     "Oct": "October"
//-     "Nov": "November"
//-     "Dec": "December"
//-   };

//- img#title-cover(src="/img/germany.jpg", alt="cover")
//- #cover
//-   != "The Jigsaw puzzle is incomplete with even one missing piece."

#home-cover
  #signature-date
    != theme.signature.date
  #cover-title
    != theme.signature.content
  if theme.signature.from.on
    #from
      != theme.signature.from.content
  #chevron-down
    i.fas.fa-chevron-down
#recent-post-content
  if page.posts.length > 0
    #recent-posts
      //- h1 Recent Posts
      each post in page.posts.sort('date', -1).limit(24).toArray()
        //- a.block(href=url_for(post.path))
        .recent-post-item
          //- .category
          each category, index in post.categories.data
            if index === 0
              span.category #{category.name}
          a(href=url_for(post.path))
            .box-cover
              if post.photos != ''
                - var l = post.photos
                img.cover(src= post.photos[0], alt="cover")
              else
                img.cover(src="https://s1.ax1x.com/2020/04/25/J6iz9K.jpg", alt="cover")
          .content-tags
            if post.date
              -
                let date = new Date(post.date);
                let globalDate = date.toUTCString();
                let globalDateArray = globalDate.split(' ');
                //- var test = month[globalDateArray[2]];
                let displayDate = `${globalDateArray[2]} ${globalDateArray[1]}, ${globalDateArray[3]}`;
              time.time(datetime=date_xml(post.date))= full_date(post.date,'MMMM Do YYYY')
              br
            a.post_title(href=url_for(post.path))= post.title
            br
            a.content(href=url_for(post.path))
              p.content!= post.excerpt
            //- - var tagsList = list_tags({ show_count: false })
            //- each tag, index in tagsList   
              p #{tag.name}
            each tag, index in post.tags.data
              a.recent-post-tag(href=url_for(tag.path))= tag.name
      //- #pagination!= paginator() 